<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   <style>
    a{
      text-decoration: none;
    font-weight: 600;}
      .center{
        padding-bottom: 18px;
      }
    p{font-size: 17px; }
   </style>
  
  </head>
  <body>
    <div class="center">
      <h1>Reset Sent</h1>
    
        <center>
            <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
            <p>Return to login Page <a href="{% url 'login' %}">Login</a></p> 
        </center>
        
    </div>

  </body>
</html>